*~
*.swp
*.a
*.o
*.so
oasis-core-rosetta-gateway
tests/oasis-net-runner
tests/oasis-node
tests/oasis_core_release.tar.gz
tests/oasis-core
tests/rosetta-cli*
tests/validator-data
# Ignore Python cache directories.
__pycache__/
