# Ignore everything to prevent accidentally copying any files from the context
# directory.
# NOTE: This is a requirement for Rosetta API Docker Deployment:
# https://docs.cloud.coinbase.com/rosetta/docs/docker-deployment#build-anywhere
**/*
